<!DOCTYPE html>
<head>
  <title>TextBook Swap</title>
	<meta name="description" content="Textbook Swap">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/resource/about.css">
  <script src="index.js"></script>
</head>
<body>
<% include partial/header.ejs %>

<% include partial/user-navigation.ejs %>
<section>
  <nav>
    <% include partial/site-navigation.ejs %>
    <p id="breadcrumbs">About</p>
  </nav>

  <article>
    <h1>TestBook Swap</h1>
    <p>Textbook Swap is a new cutting-edge trade/ecommerce site that allows anyone to swap, buy, and sell textbooks. Established in 2018, our goal is to help eliminate the deprecation of these high cost textbooks by allowing our users to get them used. The textbook industry has increased the price of textbooks by over 1000% since the 1980’s. This site will allow our users to fight back against this criminal price hike while also getting the education resources they need for college.</p>

    <img id="graph" src="resource/TextBookPrice.jpg" alt="bookstack" />
  </article>
</section>

<% include partial/footer.ejs %>


</body>
</html>
