<!DOCTYPE html>
<head>
  <title>TextBook Swap</title>
	<meta name="description" content="Textbook Swap">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/resource/about.css">
  <script src="index.js"></script>
</head>
<body>
<% include partial/header.ejs %>

<% include partial/user-navigation.ejs %>
<section>
  <nav>
    <% include partial/site-navigation.ejs %>
    <p id="breadcrumbs">Contact Us</p>
  </nav>

  <article>
    <h2>Contact Us</h2>
    <p>Feel free to contact us with any questions, comments, or conecerns. We look foward to hearing from you.</p>
    <br />
    <br />
    <p>Email: textbookswap@mailinator.com</p>
    <p>Phone: 934-453-0393</p>

  </article>
</section>

<% include partial/footer.ejs %>


</body>
</html>
