<!DOCTYPE html>
<head>
  <title>TextBook Swap</title>
	<meta name="description" content="Textbook Swap">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/resource/index.css">
  <script src="index.js"></script>
</head>
<body>
<% include partial/header.ejs %>

<% include partial/user-navigation.ejs %>
<section>
  <nav>
    <% include partial/site-navigation.ejs %>
    <p id="breadcrumbs">Home</p>
  </nav>

  <article>
    <h1>TestBook Swap</h1>
    <p>Welcome to Textbook Swap. Where people go to find, swap and sell Textbooks</p>
    <p>New TextBooks posted daily. Feel free to naviagate the site to find the latest offers on textbooks!</p>
    <img id="stack" src="resource/stack2.png" alt="bookstack" />
  </article>
</section>

<% include partial/footer.ejs %>


</body>
</html>
