* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 60px;
    width: 60px;
    display:inline-block;
    margin: 0 auto;

}

button {
  border-radius: 12px;
  background-color: silver;
}

header {
    background-color:#39CCCC;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: black;
}

#lgnStatus{
    font-size: 10px;
    position: absolute;
    right: 0;
    padding-right: 15px;
}

nav {
    float: left;
    width: 30%;
    height: 500px;
    background: #92B6D5;
    padding: 0px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}


#userNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;


}

#userNav li {
    float: left;
}

#userNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#userNav li a:hover {
    background-color: #111;
}

#userNav li a.active {
    background-color: black;
    color: white;
}

nav #breadcrumbs {
    font-size: 8px;
    position: absolute;
    padding-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #92B6D5;
}

nav li a {
    display: block;
    color: #000;
    padding : 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
    color: white;
}

nav li a.active {
    background-color: black;
    color: white;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #EAE6DA;
    height: 500px;
  }



footer {
    background-color: #9896A4;
    padding: 10px;
    text-align: center;
    color: black;
}

footer p{
  padding-top: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
