<div id="userNav">
  <ul>
    <li><a href="/">Sign In</a></li>
    <li><a href="/myItems">My Books</a></li>
    <li><a href="/mySwaps">My Swap</a></li>
    <li><a href="/">Carts</a></li>
  </ul>
</div>
